<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>나의 포인트 내역</title>

    <!-- StyleSheet -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<main id="main">
    <section class="contact mb-5" id="contact">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mt-2 mb-5">
                    <h1 class="page-title">마이페이지</h1>
                </div>
            </div>

            <div class="d-flex align-items-start mx-3 row g-5">
                <!-- 포인트 내역 출력 시작 -->
                <div class="my-info col-lg-9 col-md-auto col-sm-auto">
                    <div class="form login-form ml-5">
                        <h2>나의 포인트 내역</h2>
                        <hr>

                        <div class="table">
                            <div class="row border-bottom py-2" style="--bs-bg-opacity: .5;">
                                <span class="fw-bold text-center col-2">No</span>
                                <span class="fw-bold text-center col-2">적립 포인트</span>
                                <span class="fw-bold text-center col-4">변경 사유</span>
                                <span class="fw-bold text-center col-4">변경 일시</span>
                            </div>

                            <!-- 포인트 내역 리스트 출력 시작 -->
                            <div class="user-point-history">
                                <th:block th:each="pointHistory, status : ${memberPointHistories}">
                                    <div class="row py-2">
                                        <span class="col-2 text-center" th:text="${status.count}"></span>
                                        <span class="col-2 text-end"
                                              th:text="${#numbers.formatInteger(pointHistory.pointHistoryValue, 1, 'COMMA')} + ' p'"></span>
                                        <span class="col-4 text-center"
                                              th:text="${pointHistory.pointHistoryType}"></span>
                                        <span class="col-4 text-center"
                                              th:text="${#temporals.format(pointHistory.createdAt, 'yyyy-MM-dd hh시 mm분')}"></span>
                                    </div>
                                </th:block>
                            </div>
                            <!-- 포인트 내역 리스트 출력 끝 -->
                        </div>
                    </div>
                </div>
                <!-- 포인트 내역 출력 끝 -->
            </div>
        </div>
    </section>
</main>

</body>
</html>
