<!--<html lang="zxx">-->
<!--<head>-->
<!--    &lt;!&ndash; Meta Tag &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name='copyright' content=''>-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    &lt;!&ndash; Title Tag  &ndash;&gt;-->
<!--    <title>1nebook - 마이페이지</title>-->
<!--    &lt;!&ndash; Favicon &ndash;&gt;-->
<!--    <link rel="icon" type="image/png" href="/images/favicon.png">-->
<!--    &lt;!&ndash; Web Font &ndash;&gt;-->
<!--    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"-->
<!--          rel="stylesheet">-->

<!--    &lt;!&ndash; StyleSheet &ndash;&gt;-->

<!--    &lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/bootstrap.css">-->
<!--    &lt;!&ndash; Magnific Popup &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/magnific-popup.min.css">-->
<!--    &lt;!&ndash; Font Awesome &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/font-awesome.css">-->
<!--    &lt;!&ndash; Fancybox &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">-->
<!--    &lt;!&ndash; Themify Icons &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/themify-icons.css">-->
<!--    &lt;!&ndash; Nice Select CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/niceselect.css">-->
<!--    &lt;!&ndash; Animate CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/animate.css">-->
<!--    &lt;!&ndash; Flex Slider CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/flex-slider.min.css">-->
<!--    &lt;!&ndash; Owl Carousel &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/owl-carousel.css">-->
<!--    &lt;!&ndash; Slicknav &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/slicknav.min.css">-->

<!--    &lt;!&ndash; Eshop StyleSheet &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/reset.css">-->
<!--    <link rel="stylesheet" href="/style.css">-->
<!--    <link rel="stylesheet" href="/css/responsive.css">-->

<!--    &lt;!&ndash; Color CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/color/color1.css">-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color2.css">&ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color3.css">&ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color4.css">&ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color5.css">&ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color6.css">&ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color7.css">&ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color8.css">&ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color9.css">&ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color10.css">&ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color11.css">&ndash;&gt;-->
<!--    &lt;!&ndash;<link rel="stylesheet" href="/css/color/color12.css">&ndash;&gt;-->

<!--    <link rel="stylesheet" href="#" id="colors">-->

<!--</head>-->
<!--<html lang="en"-->
<!--      layout:decorate="~{layouts/layout}"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->

<!--<th:block layout:fragment="css">-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">-->
<!--</th:block>-->


<!--<div layout:fragment="content">-->

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->

<!--    <main id="main">-->
<!--        <section class="contact mb-5" id="contact">-->
<!--            <div class="container" data-aos="fade-up">-->

<!--                <div class="row">-->
<!--                    <div class="col-lg-12 text-center mt-2 mb-5">-->
<!--                        <h1 class="page-title">마이페이지</h1>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; ======= New Layout Start ======= &ndash;&gt;-->
<!--                <div class="d-flex align-items-start mx-3 row g-5">-->
<!--                    &lt;!&ndash; ======= Sidebar Start ======= &ndash;&gt;-->
<!--                    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light col-lg-3 col-md-auto"-->
<!--                         style="width: 230px;">-->
<!--                        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"-->
<!--                           href="/">-->
<!--                            <span class="fs-4">Sidebar</span>-->
<!--                        </a>-->
<!--                        <hr>-->
<!--                        <ul class="nav nav-pills flex-column mb-auto">-->
<!--                            <li class="nav-item">-->
<!--                                <a aria-current="page" class="nav-link active" href="#">회원 정보</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link link-dark" href="/myAddressView">주소 관리</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="nav-link link-dark" href="#myGradeTitle">나의 등급</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="nav-link link-dark" href="/point/myPoint">나의 포인트</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="nav-link link-dark" href="#">나의 찜 목록</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="nav-link link-dark" href="#">주문 내역</a>-->
<!--                            </li>-->
<!--                            <button class="btn btn-primary" type="button"><a class="nav-link"-->
<!--                                                                             id = "quit">회원 탈퇴</a></button>-->
<!--                        </ul>-->
<!--                    </div>-->

<!--                    <script>-->
<!--                        // Siderbar 에서 마우스가 올라가 있는 요소의 색을 변경-->
<!--                        var navLinks = document.querySelectorAll('.nav-link');-->

<!--                        navLinks.forEach(function (navLink) {-->
<!--                            navLink.addEventListener('mouseover', function () {-->
<!--                                navLinks.forEach(function (link) {-->
<!--                                    link.classList.remove('active');-->
<!--                                    link.classList.add('link-dark');-->
<!--                                });-->

<!--                                this.classList.add('active');-->
<!--                                this.classList.remove('link-dark');-->
<!--                            })-->
<!--                        })-->
<!--                    </script>-->
<!--                    &lt;!&ndash; ======= Sidebar End ======= &ndash;&gt;-->

<!--                    &lt;!&ndash; ======= My Info Start ======= &ndash;&gt;-->

<!--                    <div class="my-info col-lg-9 col-md-auto col-sm-auto">-->
<!--                        <div class="form login-form ml-5">-->
<!--                            &lt;!&ndash; ======= User Info Start ======= &ndash;&gt;-->
<!--                            <div style="display: flex; align-items: center;">-->
<!--                                <h2 style="margin-right: 14px;">회원 정보</h2>-->
<!--                                <a href="/user_info_edit"><i class="fas fa-lg fa-chevron-right"-->
<!--                                                             title="user_info_edit"></i></a>-->
<!--                            </div>-->
<!--                            <hr>-->
<!--                            <div class="user-info">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-2 fs-5">고객명</div>-->
<!--                                    <div class="col-md-4 fs-5"><p th:text="${myPageInfo.userName}"></p></div>-->
<!--                                    <div class="col-md-2 fs-5">Email</div>-->
<!--                                    <div class="col-md-4 fs-5"><p th:text="${myPageInfo.userEmail}"></p></div>-->
<!--                                </div>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-2 fs-5">연락처</div>-->
<!--                                    <div class="col-md-4 fs-5">-->
<!--                                        &lt;!&ndash; 전화번호를 th:text로 출력 &ndash;&gt;-->
<!--                                        <p id="user-phone" th:text="${myPageInfo.userPhoneNumber}"></p>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-2 fs-5">생년월일</div>-->
<!--                                    <div class="col-md-4 fs-5">-->
<!--                                        <p th:text="${#temporals.format(myPageInfo.userBirthDay, 'yyyy년 MM월 dd일')}"></p>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; 전화번호 포맷팅을 위한 JavaScript 코드 &ndash;&gt;-->
<!--                                <script>-->
<!--                                    document.addEventListener("DOMContentLoaded", function() {-->
<!--                                        // 전화번호 가져오기-->
<!--                                        var phoneNumber = document.getElementById("user-phone").innerText;-->

<!--                                        // 전화번호 포맷: 01012345678 -> 010-1234-5678-->
<!--                                        var formattedPhoneNumber = phoneNumber.replace(/(\d{3})(\d{4})(\d{4})/, "$1-$2-$3");-->

<!--                                        // 포맷팅된 전화번호를 다시 설정-->
<!--                                        document.getElementById("user-phone").innerText = formattedPhoneNumber;-->
<!--                                    });-->
<!--                                </script>-->

<!--                                <div class="row">-->
<!--                                    <div style="display: flex; align-items: center;">-->
<!--                                        <div class="col-md-2 fs-5">기본 주소</div>-->
<!--                                        &lt;!&ndash; Address Modal Trigger Button &ndash;&gt;-->
<!--                                        <div class="address_modal_btn" data-bs-target="#address_modal"-->
<!--                                             data-bs-toggle="modal">-->
<!--                                            <i class="fas fa-sm fa-chevron-right" style="cursor: pointer"-->
<!--                                               title="user_address_info"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div class="col-md-12 fs-5 mt-2"><p-->
<!--                                            th:text="${myPageInfo.userAddress.addressAlias} + ' | ' + ${myPageInfo.userAddress.addressGeneral} +  ' ' + ${myPageInfo.userAddress.addressDetail} + ' | ' +${myPageInfo.userAddress.addressCode}"></p>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; ======= Address Modal Start ======= &ndash;&gt;-->
<!--                                <div aria-hidden="true" aria-labelledby="address_modal" class="modal fade"-->
<!--                                     id="address_modal"-->
<!--                                     tabindex="-1">-->
<!--                                    <div class="modal-dialog modal-dialog-scrollable">-->
<!--                                        <div class="modal-content">-->
<!--                                            <div class="modal-header">-->
<!--                                                <h5 class="modal-title">내 주소</h5>-->
<!--                                                <button aria-label="Close" class="btn-close address_modal_close"-->
<!--                                                        data-bs-dismiss="modal" type="button"></button>-->
<!--                                            </div>-->
<!--                                            <div class="modal-body">-->

<!--                                            </div>-->
<!--                                            <div class="modal-footer">-->
<!--                                                <button class="btn btn-secondary address_modal_close"-->
<!--                                                        data-bs-dismiss="modal"-->
<!--                                                        type="button">Close-->
<!--                                                </button>-->
<!--                                                <button class="btn btn-primary" type="button"><a class="nav-link"-->
<!--                                                                                                 href="/my_address_view">주소-->
<!--                                                    관리</a></button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <script>-->
<!--                                    $(document).ready(function () {-->
<!--                                        $('.address_modal_btn').on('click', function () {-->
<!--                                            $.ajax({-->
<!--                                                url: '/my_address_info',-->
<!--                                                type: 'GET',-->
<!--                                                dataType: 'json',-->
<!--                                                success: function (data) {-->
<!--                                                    var modalBody = $('#address_modal .modal-body');-->
<!--                                                    modalBody.empty();-->

<!--                                                    data.forEach(function (address) {-->
<!--                                                        if (address.isDefaultAddress) {-->
<!--                                                            modalBody.append('<p style="font-weight: bold">기본주소</p>');-->
<!--                                                        }-->
<!--                                                        modalBody.append('<p>' + address.addressAlias + '</p>');-->
<!--                                                        modalBody.append('<p>' + address.addressGeneral + ' ' + address.addressDetail + '</p>');-->
<!--                                                        modalBody.append('<p>우편번호 : ' + address.addressCode + '</p>');-->
<!--                                                        modalBody.append('<hr>');-->
<!--                                                    });-->

<!--                                                    $('#address_modal').modal('show');-->
<!--                                                },-->
<!--                                                error: function (jqXHR, textStatus, errorThrown, data) {-->
<!--                                                    console.error('AJAX request fail');-->
<!--                                                    window.alert('주소 정보를 불러오지 못했습니다');-->
<!--                                                }-->
<!--                                            });-->
<!--                                        });-->

<!--                                        // 모달 종료 (hide)-->
<!--                                        $(document).on('click', '.address_modal_close', function () {-->
<!--                                            $('#address_modal').modal('hide');-->
<!--                                        });-->

<!--                                        document.getElementById("quit").addEventListener("click", function() {-->
<!--                                            // Ajax를 이용한 POST 요청-->
<!--                                            $.ajax({-->
<!--                                                url: '/quit', // 요청을 보낼 URL-->
<!--                                                type: 'POST', // POST 요청 설정-->
<!--                                                dataType: 'json', // 응답 데이터 타입 설정-->
<!--                                                success: function (response) {-->
<!--                                                    // 요청이 성공적으로 완료되었을 때 실행할 코드-->
<!--                                                    alert("회원탈퇴가 완료되었습니다. 자동으로 로그아웃합니다");-->
<!--                                                    // 추가적인 처리나 응답에 대한 처리-->
<!--                                                    window.location.href = "login_form";-->
<!--                                                },-->
<!--                                                error: function (jqXHR, textStatus, errorThrown) {-->
<!--                                                    // 요청이 실패했을 때 실행할 코드-->
<!--                                                    console.error('AJAX request fail');-->
<!--                                                    window.alert('POST 요청을 보내는데 실패했습니다');-->
<!--                                                }-->
<!--                                            });-->
<!--                                        });-->
<!--                                    });-->
<!--                                </script>-->
<!--                                &lt;!&ndash; ======= Address Modal End ======= &ndash;&gt;-->

<!--                            </div>&lt;!&ndash; ======= User Info End ======= &ndash;&gt;-->

<!--                            <div class="my-5" id="my_grade_title"></div>-->

<!--                            &lt;!&ndash; ======= My Grade Start ======= &ndash;&gt;-->
<!--                            <div class="my_grade">-->
<!--                                <div style="display: flex; align-items: center;">-->
<!--                                    <h2 style="margin-right: 14px;">나의 등급</h2>-->
<!--                                    <a href="/grade_detail"><i class="fas fa-lg fa-search" title="grade_detail"></i></a>-->
<!--                                </div>-->
<!--                                <hr>-->

<!--                                <div class="col-md-12 fs-5 "><p-->
<!--                                        th:text="'나의 현재 등급 : ' + ${myPageInfo.userGrade.gradeName}"></p></div>-->
<!--                                <div class="col-md-12 fs-6 fw-light"><span-->
<!--                                        th:text="'최근 3개월 간 ' + ${#numbers.formatInteger(myPageInfo.userGrade.gradeStartCost, 1, 'COMMA')} + '원 이상 ' + ${#numbers.formatInteger(myPageInfo.userGrade.gradeEndCost, 1, 'COMMA')} + '원 미만 구매하신 고객님'"></span>-->
<!--                                </div>-->
<!--                                <div class="col-md-12 fs-6 fw-light"><p-->
<!--                                        th:text="'순수 금액의 ' + ${myPageInfo.userGrade.gradeRatio} + '% 씩 적립됩니다'"></p>-->
<!--                                    <p>*순수 금액 : 주문금액 - (쿠폰 + 배송비 + 취소금액 + 포장비)</p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; ======= My Grade End ======= &ndash;&gt;-->

<!--                            <div class="my-5" id="my_point_title"></div>-->

<!--                            &lt;!&ndash; ======= My Point Start ======= &ndash;&gt;-->
<!--                            <div class="my_point">-->
<!--                                <div style="display: flex; align-items: center;">-->
<!--                                    <h2 style="margin-right: 14px;">나의 포인트</h2>-->
<!--                                    <a href="/point/myPoint"><i class="fas fa-lg fa-chevron-right"-->
<!--                                                                 title="my_point"></i></a>-->
<!--                                </div>-->
<!--                                <hr>-->

<!--                                <div class="col-md-12 fs-5"><p-->
<!--                                        th:text="'사용 가능 포인트 : ' + ${#numbers.formatInteger(myPageInfo.userPoint, 1, 'COMMA')} + ' p'"></p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; ======= My Point End ======= &ndash;&gt;-->


<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; ======= My Info End ======= &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; ======= New Layout End ======= &ndash;&gt;-->

<!--            </div>-->
<!--        </section>-->
<!--    </main>-->


<!--</div>-->

<!--</div>&lt;!&ndash; ==== End fragment:content === &ndash;&gt;-->
<!--&lt;!&ndash; Start Footer Area &ndash;&gt;-->
<!--<footer class="footer">-->
<!--    &lt;!&ndash; Footer Top &ndash;&gt;-->
<!--    <div class="footer-top section">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-5 col-md-6 col-12">-->
<!--                    &lt;!&ndash; Single Widget &ndash;&gt;-->
<!--                    <div class="single-footer about">-->
<!--                        <div class="logo">-->
<!--                            <a href="index.html"><img src="/images/logo2.png" alt="#"></a>-->
<!--                        </div>-->
<!--                        <p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, magna eros-->
<!--                            eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis-->
<!--                            luctus, metus.</p>-->
<!--                        <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single Widget &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-lg-2 col-md-6 col-12">-->
<!--                    &lt;!&ndash; Single Widget &ndash;&gt;-->
<!--                    <div class="single-footer links">-->
<!--                        <h4>Information</h4>-->
<!--                        <ul>-->
<!--                            <li><a href="#">About Us</a></li>-->
<!--                            <li><a href="#">Faq</a></li>-->
<!--                            <li><a href="#">Terms & Conditions</a></li>-->
<!--                            <li><a href="#">Contact Us</a></li>-->
<!--                            <li><a href="#">Help</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single Widget &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-lg-2 col-md-6 col-12">-->
<!--                    &lt;!&ndash; Single Widget &ndash;&gt;-->
<!--                    <div class="single-footer links">-->
<!--                        <h4>Customer Service</h4>-->
<!--                        <ul>-->
<!--                            <li><a href="#">Payment Methods</a></li>-->
<!--                            <li><a href="#">Money-back</a></li>-->
<!--                            <li><a href="#">Returns</a></li>-->
<!--                            <li><a href="#">Shipping</a></li>-->
<!--                            <li><a href="#">Privacy Policy</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single Widget &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-lg-3 col-md-6 col-12">-->
<!--                    &lt;!&ndash; Single Widget &ndash;&gt;-->
<!--                    <div class="single-footer social">-->
<!--                        <h4>Get In Tuch</h4>-->
<!--                        &lt;!&ndash; Single Widget &ndash;&gt;-->
<!--                        <div class="contact">-->
<!--                            <ul>-->
<!--                                <li>NO. 342 - London Oxford Street.</li>-->
<!--                                <li>012 United Kingdom.</li>-->
<!--                                <li>info@eshop.com</li>-->
<!--                                <li>+032 3456 7890</li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End Single Widget &ndash;&gt;-->
<!--                        <ul>-->
<!--                            <li><a href="#"><i class="ti-facebook"></i></a></li>-->
<!--                            <li><a href="#"><i class="ti-twitter"></i></a></li>-->
<!--                            <li><a href="#"><i class="ti-flickr"></i></a></li>-->
<!--                            <li><a href="#"><i class="ti-instagram"></i></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Single Widget &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; End Footer Top &ndash;&gt;-->
<!--    <div class="copyright">-->
<!--        <div class="container">-->
<!--            <div class="inner">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-6 col-12">-->
<!--                        <div class="left">-->
<!--                            <p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a> - -->
<!--                                All Rights Reserved.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-6 col-12">-->
<!--                        <div class="right">-->
<!--                            <img src="/images/payments.png" alt="#">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--&lt;!&ndash; /End Footer Area &ndash;&gt;-->

<!--&lt;!&ndash; Jquery &ndash;&gt;-->
<!--<script src="/js/jquery.min.js"></script>-->
<!--<script src="/js/jquery-migrate-3.0.0.js"></script>-->
<!--<script src="/js/jquery-ui.min.js"></script>-->
<!--&lt;!&ndash; Popper JS &ndash;&gt;-->
<!--<script src="/js/popper.min.js"></script>-->
<!--&lt;!&ndash; Bootstrap JS &ndash;&gt;-->
<!--<script src="/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; Color JS &ndash;&gt;-->
<!--<script src="/js/colors.js"></script>-->
<!--&lt;!&ndash; Slicknav JS &ndash;&gt;-->
<!--<script src="/js/slicknav.min.js"></script>-->
<!--&lt;!&ndash; Owl Carousel JS &ndash;&gt;-->
<!--<script src="/js/owl-carousel.js"></script>-->
<!--&lt;!&ndash; Magnific Popup JS &ndash;&gt;-->
<!--<script src="/js/magnific-popup.js"></script>-->
<!--&lt;!&ndash; Fancybox JS &ndash;&gt;-->
<!--<script src="/js/facnybox.min.js"></script>-->
<!--&lt;!&ndash; Waypoints JS &ndash;&gt;-->
<!--<script src="/js/waypoints.min.js"></script>-->
<!--&lt;!&ndash; Countdown JS &ndash;&gt;-->
<!--<script src="/js/finalcountdown.min.js"></script>-->
<!--&lt;!&ndash; Nice Select JS &ndash;&gt;-->
<!--<script src="/js/nicesellect.js"></script>-->
<!--&lt;!&ndash; Ytplayer JS &ndash;&gt;-->
<!--<script src="/js/ytplayer.min.js"></script>-->
<!--&lt;!&ndash; Flex Slider JS &ndash;&gt;-->
<!--<script src="/js/flex-slider.js"></script>-->
<!--&lt;!&ndash; ScrollUp JS &ndash;&gt;-->
<!--<script src="/js/scrollup.js"></script>-->
<!--&lt;!&ndash; Onepage Nav JS &ndash;&gt;-->
<!--<script src="/js/onepage-nav.min.js"></script>-->
<!--&lt;!&ndash; Easing JS &ndash;&gt;-->
<!--<script src="/js/easing.js"></script>-->
<!--&lt;!&ndash; Active JS &ndash;&gt;-->
<!--<script src="/js/active.js"></script>-->
<!--</body>-->
<!--</html>-->
