<!-- Start Footer Area -->
<footer class="footer" th:fragment="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                        <div class="logo">
                            <a href="index.html"><img src="/images/logo2.png" alt="#"></a>
                        </div>
                        <p class="text">NHN아카데미 백엔드 8기 1nebook 팀</p>
                        <p>https://github.com/nhnacademy-be8-OneBook</p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
<!--                    <div class="single-footer links">-->
<!--                        <h4>Information</h4>-->
<!--                        <ul>-->
<!--                            <li><a href="#">About Us</a></li>-->
<!--                            <li><a href="#">Faq</a></li>-->
<!--                            <li><a href="#">Terms & Conditions</a></li>-->
<!--                            <li><a href="#">Contact Us</a></li>-->
<!--                            <li><a href="#">Help</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
<!--                    <div class="single-footer links">-->
<!--                        <h4>Customer Service</h4>-->
<!--                        <ul>-->
<!--                            <li><a href="#">Payment Methods</a></li>-->
<!--                            <li><a href="#">Money-back</a></li>-->
<!--                            <li><a href="#">Returns</a></li>-->
<!--                            <li><a href="#">Shipping</a></li>-->
<!--                            <li><a href="#">Privacy Policy</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>Contact To Us</h4>
                        <!-- Single Widget -->
                        <div class="contact">
                            <ul>
                                <li>사업장 주소: 광주광역시 동구 필문대로 309 조선대학교 IT 융합대학 NHN 아카데미 실습실.</li>
                                <li>대표자 : 김선준</li>
                                <li>상호명 :(주)ONE-BOOK</li>
                                <li>문의 메일:onebook@nhn.com</li>
                                <li>문의 전화번호: 010-9485-6730</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
<!--                        <ul>-->
<!--                            <li><a href="#"><i class="ti-facebook"></i></a></li>-->
<!--                            <li><a href="#"><i class="ti-twitter"></i></a></li>-->
<!--                            <li><a href="#"><i class="ti-flickr"></i></a></li>-->
<!--                            <li><a href="#"><i class="ti-instagram"></i></a></li>-->
<!--                        </ul>-->
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>Copyright © 2025 <a href="http://www.1nebook.shop" target="_blank">1nebook</a>  -  All Rights Reserved.</p>
                        </div>
                    </div>
<!--                    <div class="col-lg-6 col-12">-->
<!--                        <div class="right">-->
<!--                            <img src="/images/payment-method.png" alt="#">-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /End Footer Area -->